.mud-table-cell-custom-group {
    font-weight: 500;
}
.mud-table-cell-custom-group-footer {
    padding-bottom: 50px;
    text-align: right;
}

.selected {
    background-color: #1E88E5 !important;
}
.selected > td {
    color: white !important;
}
.selected > td .mud-input {
    color: white !important;
}